:root {
    --component-color: #de2e54;
    --text-color: #222;
    --background-color: #0eb4c1;
    --subtitle-color: #444;
    --general-color: #fff;
    --heading-font-family: "Roboto Condensed", "Arial", sans-serif;
    --paragraph-font-family: "Open Sans", "Arial", sans-serif;
}

/* GENERAL-STYLE */
* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted var(--component-color);
    outline-offset: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--paragraph-font-family);
    color: var(--general-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-BUTTON */
.site-button {
    color: var(--general-color);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 12px 24px;
    font-family: var(--heading-font-family);
    background-color: var(--component-color);
    border-radius: 8px;
    border: 2px solid var(--component-color);
    display: inline-block;
    transition: color 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
}

.site-button:hover {
    color: var(--component-color);
    background-color: var(--general-color);
}

.site-button:active {
    opacity: 0.6;
}

/* SITE-LOGO */
.site-logo {
    display: flex;
    align-items: center;
    transition: opacity 0.4s ease;
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}

.site-logo-text {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    transition: color 0.4s ease;
}

.site-logo-text:hover {
    color: var(--component-color);
}


/* SITE-HEADER */
.header {
    padding: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITENAV */
.sitenav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.sitenav-link {
    cursor: pointer;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
    color: var(--component-color);
}

.sitenav-link:active {
    opacity: 0.6;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}


/* SITE-HERO */
.hero {
    padding-top: 30px;
    background-color: var(--background-color);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text-content {
    color: var(--general-color);
    width: 500px;
}

.hero-button {
    color: var(--general-color);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 24px;
    font-family: var(--heading-font-family);
    background-color: var(--component-color);
    border-radius: 8px;
    border: 2px solid var(--component-color);
    display: inline-block;
    transition: border-color 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
}

.hero-button:hover {
    border-color: rgba(222, 46, 84, 0.8);
    background-color: rgba(222, 46, 84, 0.8);
}

.hero-button:active {
    opacity: 0.6;
}

.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 16px;
    font-family: var(--heading-font-family);
}

.hero-subtitle {
    width: 440px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 36px;
}

.hero-img {
    width: 423px;
    height: 504px;
    object-fit: cover;
}


/* SITE-SERVICE */
.service {
    padding-top: 120px;
    padding-bottom: 120px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0;
    margin: 0;
}

.service-card-item {
    display: flex;
    align-items: center;
    width: 864px;
}

.service-card-item:not(:last-child) {
    margin-bottom: 80px;
}

.service-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    margin: 0;
    margin-bottom: 56px;
    font-family: var(--heading-font-family);
}

.service-card-img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.service-card-text {
    margin-left: 64px;
}

.service-card-text h3 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 24px;
    font-family: var(--heading-font-family);
}

.service-card-text p {
    color: var(--subtitle-color);
    margin: 0;
}


/* SITE-REGISTRATION */
.registration {
    color: var(--general-color);
    background-color: var(--background-color);
    padding-top: 64px;
    padding-bottom: 64px;
}

.registration-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--heading-font-family);
}

.registration-button-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-button-item {
    color: var(--general-color);
    font-family: var(--heading-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    border: 2px solid var(--general-color);
    padding: 12px 24px;
    display: inline-block;
    border-radius: 8px;
    text-transform: uppercase;
    transition: border-color 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
}

.registration-button-item:hover {
    border-color: var(--component-color);
    background-color: var(--component-color);
}

.registration-button-item:active {
    opacity: 0.6;
}

.registration-button-item:not(:last-child) {
    margin-right: 40px;
}


/* SITE-FOOTER */
.footer {
    background-color: var(--text-color);
    padding: 24px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-text-color, .footer-nav-link  {
    color: var(--general-color);
}

.footer-logo-text-color, .footer-nav-link:active {
    color: var(--general-color);
}